
ion-title {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ion-label {
    margin-top: 5px;
  }

ion-tab-button:hover{
transition: 0.1s;
  position: relative;
  margin-top: -10px;
  opacity: 100%;
}

ion-tab-button:active + ion-icon{
    background-color: aqua;
      margin-top: -10px;

    }

ion-toolbar{
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
  background-color: rgb(0, 0, 0);
}


.header{
  background-color: rgb(146, 144, 144);
}
