<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true">
  <body>
  <div class="color-container">
    <div class="color-picker-container">
      <div class="header-title">
        <h1>Choose Color</h1>
      </div>
      <ion-card-content>
        <input class="colorpicker" type="color" id="colorPicker" (input)="updateColor($event)">
        <div class="color-display" id="colorDisplay"></div>
      </ion-card-content>
    </div>
  </div>
  <div class="brightness-level">
    <div class="brightness-icon">
      <ion-icon class="icon ion-md-sunny"></ion-icon>
    </div>

    <label class="slider">
      <input type="range" class="level" />
    </label>
  </div>
</body>
</ion-content>
