<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Light Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="color-container">
    <ion-card class="color-picker-container">
      <ion-card-header>
        <ion-card-title>Choose Color</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <input class="colorpicker" type="color" id="colorPicker" (input)="updateColor($event)">
        <div class="color-display" id="colorDisplay"></div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="brightness-level">
    <div class="brightness-icon">
      <ion-icon class="icon ion-md-sunny"></ion-icon>
    </div>

    <label class="slider">
      <input type="range" class="level" />
    </label>
  </div>
</ion-content>